@font-face {font-family: NerdFont; src: url('BigBlueTermPlusNerdFontMono-Regular.ttf')}
@font-face {font-family: Inconsolata; src: url('InconsolataLGCNerdFont-Regular.ttf')}
h2 {
    text-align: center;
}
ul {
    list-style: none;
    padding-right: 2rem;
}
.frontpagebutton {
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    border: 3px solid black;
    border-radius: 30px;
    font-family:'Courier New', Courier, monospace;

}
.frontpagebutton:hover {
    color: green;
}
#gallery-image {
    z-index: 2;
    position: relative;

}
#aboutme {
    font-family: NerdFont;
    color: black;
    position: relative;
    left: 15%;
}
.titlemenu {
    display: flex;
    justify-content: space-evenly;
}