/* initializing font face */ 
@font-face {font-family: NerdFont; src: url('BigBlueTermPlusNerdFontMono-Regular.ttf')}
@font-face {font-family: Inconsolata; src: url('InconsolataLGCNerdFont-Regular.ttf')}

<<<<<<< HEAD
=======
body {
    background-color: #393939;
}
>>>>>>> d645473 (changing body)
h1 {
    font-family: NerdFont, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    right: 15%;
}
h2 {
    text-align: center;
    color: white;
    font-family: Inconsolata;
}
ul {
    list-style: none;
    padding-right: 2rem;
}
.frontpagebutton {
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    border: 3px solid white;
    border-radius: 30px;
    font-family:'Courier New', Courier, monospace;
    justify-content: space-evenly;

}
.frontpagebutton:onlick {
    color: green;
}
#gallery-image {
    z-index: 2;
    position: relative;

}
#aboutme {
    font-family: NerdFont;
    color: #393939;
    position: relative;
    left: 15%;
}
.titlemenu {
    display: flex;
    justify-content: space-evenly;
} 

/* making a nav bar */
li {
    list-style-type: none;
    display: inline-block;
}
#footerbg {
<<<<<<< HEAD
    background-color: rgb(0, 0, 0);
=======
    background-color: #393939;
>>>>>>> d645473 (changing body)
    list-style-type: none;
    display: list-item;

}
.footertext {
    color: white;
<<<<<<< HEAD
    list-style-type: disc;
=======
    font-size: 20px;
    text-align: center;

>>>>>>> d645473 (changing body)
}
#frontpagelogo {
    height: 128px;
    width: 128px;
<<<<<<< HEAD
    display: flex;
    justify-content: left;
}
=======
    display: block;
    right: 50%;
}
footer {
    margin-top: 90%;
}
.introtext {
    color: white;
}
.accomplishmentstext {
    color: white;
}
>>>>>>> d645473 (changing body)
