@font-face {font-family: NerdFont; src: url('BigBlueTermPlusNerdFontMono-Regular.ttf') }

h1 {
    font-family: NerdFont;
    text-align: center;
}
h2 {
    text-align: center;
}
ul {
    list-style: none;
    text-align: center;
    padding-right: 2rem;
}
.frontpagebutton {
    display: inline;
    padding-left: 3rem;
    padding-right: 3rem;
    border: 1px solid black;
    border-radius: 30px;
}
.frontpagebutton:hover {
    color: green;
}